
.spinner {
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bounce1, .bounce2, .bounce3 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ea1e24; /* Adjust color as needed */
    margin: 3px;
    animation: bouncing 0.6s infinite alternate;
  }
  
  .bounce2 {
    animation-delay: 0.2s;
  }
  
  .bounce3 {
    animation-delay: 0.4s;
  }
  
  @keyframes bouncing {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
  }
  