.container {
  width: 100%;
}

.topbar {
  width: 100%;
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.greatings {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.greatings span {
  font-size: 23px;
  font-weight: bold;
}

.greatings p {
  font-size: 23px;
  font-weight: bold;
}

.searcharea {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.search {
  width: 300px;
}

.notification {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.bell {
  position: fixed;
  top: 16px;
  right: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 21px;
  height: 21px;
  background: var(--main-brand-color);
  color: #f7f7f7;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  user-select: none;
  cursor: pointer;
}

.bell span {
  position: absolute;
  top: -7px;
  left: 13px;
  width: 18px;
  height: 18px;
  font-size: 14px;
  display: flex;
  color: var(--main-brand-color);
  background-color: #f7f7f7;
  padding: 4px;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 495px) {
  .topbar {
    padding: 20px 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .searcharea {
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* flex-direction: column; */
  }

  .bell {
    width: fit-content;
    top: 48px;
    left: 353px;
  }

  .bell span {
    width: 14px;
    height: 14px;
    font-size: 12px;
  }

  .content span {
    font-size: 17px;
  }

  .img {
    width: 40px;
    height: 40px;
  }
}

.network_info {
  display: flex;
  flex-direction: column; /* Stack the network info vertically */
  margin-left: 20px; /* Space between elements */
}

.network_info span {
  font-size: 0.9em; /* Smaller font size for network info */
  color: #666; /* Grey color for better readability */
}

@media screen and (max-width: 475px) {
  .greatings span {
    font-size: 14px;
    font-weight: bold;
  }

  .greatings p {
    font-size: 14px;
    font-weight: bold;
  }
}

@media screen and (max-width: 440px) {
}

@media screen and (max-width: 428px) {
  .icon {
    width: 22px;
    padding: 6px;
    height: 22px;
    font-size: 18px;
  }

  .bell {
    width: -moz-fit-content;
    width: fit-content;
    top: 44px;
    left: 378px;
  }

  .bell span {
    width: 14px;
    height: 14px;
    font-size: 12px;
  }
}

/* @media screen and (max-width: 414px) {
  .table_container {
    width: -webkit-fill-available;
  }
  table {
    width: unset;
  }

  th, td {
    padding: 4px 12px;
    font-size: 14px;
}
} */

@media screen and (max-width: 414px) {
}

@media screen and (max-width: 395px) {
  .icon {
    width: 22px;
    padding: 6px;
    height: 22px;
    font-size: 18px;
  }

  .bell {
    width: -moz-fit-content;
    width: fit-content;
    top: 44px;
    left: 357px;
  }

  .bell span {
    width: 14px;
    height: 14px;
    font-size: 12px;
  }
}


@media screen and (max-width: 380px) {
  .icon {
    width: 22px;
    padding: 6px;
    height: 22px;
    font-size: 14px;
  }

  .bell {
    width: -moz-fit-content;
    width: fit-content;
    top: 44px;
    left: 343px;
  }

  .bell span {
    width: 14px;
    height: 14px;
    font-size: 12px;
  }
}

@media screen and (max-width: 375px) {
}

@media screen and (max-width: 365px) {
  .icon {
    width: 22px;
    padding: 6px;
    height: 22px;
    font-size: 14px;
  }

  .bell {
    width: -moz-fit-content;
    width: fit-content;
    top: 44px;
    left: 328px;
  }

  .bell span {
    width: 14px;
    height: 14px;
    font-size: 12px;
  }
}
