/*==========main CHART================*/
.chartbox {
    position: relative;
    width: 100%;
    min-height: 200px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
    padding: 20px;
}

.chartbox .chart {
    position: relative;
    width: 100%;
    background: var(--bg-color);
    padding: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}
