.container {
  position: fixed;
  top: 70px;
  left: 143px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  color: #f0f0f0;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  background-color: var(--main-brand-color);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border: 2px solid transparent;
  transition: 0.5s ease-in-out;
  z-index: 2;
}

.container:hover {
  color: var(--main-brand-color);
  background-color: #e0e0e0;
  border: 2px solid var(--main-brand-color);
  box-shadow: 0 15px 25px transparent;
}

.text {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.container svg {
  font-size: 1.5rem;
}

.autoModeButton {
  position: absolute;
  top: 141px;
  left: 183px;
  z-index: 2;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 428px) {
  .container {
    top: 6px;
    left: 287px;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    justify-content: center;
  }
}
@media (max-width: 414px) {
  .container {
    top: 7px;
    left: 297px;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 380px) {
  .container {
    top: 14px;
    left: 297px;
  }
}
