.container {
  position: fixed;
  top: 70px;
  left: 143px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  color: #f0f0f0;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  background-color: var(--main-brand-color);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border: 2px solid transparent;
  transition: 0.5s ease-in-out;
  z-index: 2;
}

.container:hover {
  color: var(--main-brand-color);
  background-color: #e0e0e0;
  border: 2px solid var(--main-brand-color);
  box-shadow: 0 15px 25px transparent;
}

.text {
  margin-left: 0.5rem;
  font-size: 1rem;
}

.container svg {
  font-size: 1.5rem;
}

.autoModeButton {
  position: fixed;
  width: 155px;
  height: max-content;
  background: #f0f0f0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  padding: 15px;
  display: flex;
  top: 141px;
  left: 183px;
  z-index: 2;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.autoModeButton p {
  font-size: 12px;
}

.icon {
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
  color: var(--main-brand-color);
  border: 2px solid var(--main-brand-color);
  gap: 10px;
  border-radius: 50px;
  transition: 0.5s ease;
}

.icon:hover {
  background: var(--main-brand-color);
  color: #f0f0f0;
  border: 2px solid #f0f0f0;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.icon.active {
  background: var(--main-brand-color);
  color: #f0f0f0;
  border: 2px solid #f0f0f0;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

@media (max-width: 428px) {
  .container {
    top: 6px;
    left: 287px;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    justify-content: center;
  }

  .autoModeButton {
    top: 56px;
    left: 164px;
  }
}
@media (max-width: 414px) {
  .container {
    top: 7px;
    left: 297px;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 385px) {
  .container {
    top: 14px;
    left: 297px;
  }

  .autoModeButton {
    top: 56px;
    left: 164px;
  }
}
@media (max-width: 395px) {
  .container {
    top: 14px;
    left: 297px;
  }

  .autoModeButton {
    top: 56px;
    left: 164px;
  }
}
